<%= form_for(subscriber, :html => { :class => "form-inline" }) do |f| %>
  <% if subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="actions">
    <%= f.submit "Subscribe me!", :class => "btn btn-primary" %>
  </div>
<% end %>
