<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Posts</h1>

<%= link_to 'Create new post', new_post_path %>

<hr>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <div><%= @markdown.render(post.body).html_safe %></div>
  <div><%= post.user_id %></div>

  <% # Display any edits as hover-over title text.
    if post.created_at === post.updated_at
      edit_title = "No edits made"
    else
      edit_title = "Last edited: #{post.updated_at.strftime("%Y/%m/%d %H:%M")}"
    end
  %>
  <div title="<%= edit_title %>">
    <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
  </div>

  <div>
    <%= link_to 'Show', post %> |
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <hr>
<% end %>

<%= paginate @posts %>
