<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Posts</h1>

<%= link_to 'Create new post', new_post_path %>

<hr>

<% @posts.each do |post| %>
  <%
    user = User.find(post.user_id)
    date_text = get_date_display_text(post)
  %>

  <%# Show the post. %>
  <h2 class="postTitle"><%= post.title %></h1>
  <div class="postUserAndDate">
    By <span class="userName"><%= user.name %></span>
    on <span class="postDate" title="<%= date_text[:title] %>"><%= date_text[:value] %></span>
  </div>
  <div class="postBody"><%= @markdown.render(post.body).html_safe %></div>

  <%# Show the action options. %>
  <div>
    <%= link_to 'Show', post %> |
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <hr>
<% end %>

<%= paginate @posts %>
