<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Posts</h1>

<p><small><%= link_to 'Create new post', new_post_path %></small></p>
<p><small><%= link_to 'Subscribe to this site', new_subscriber_path %></small></p>

<hr>

<% @posts.each do |post| %>
  <% date_text = get_date_display_text(post) %>

  <%# Show the post. %>
  <h2 class="postTitle"><%= link_to post.title, post %></h1>
  <div class="postUserAndDate">
    By <span class="userName"><%= post.user.name %></span>
    on <span class="postDate" title="<%= date_text[:title] %>"><%= date_text[:value] %></span>
  </div>
  <div class="postBody"><%= @markdown.render(post.body).html_safe %></div>

  <%# Show the action options. %>
  <div>
    <%= link_to 'Show', post %> |
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <hr>
<% end %>

<%= paginate @posts %>
