<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Posts</h1>

<%= link_to 'Create new post', new_post_path %>

<hr>

<% @posts.each do |post| %>
  <%
    user = User.find(post.user_id)

    # Display any edits as hover-over title text.
    if post.created_at === post.updated_at
      date_value = post.created_at.strftime("%Y/%m/%d at %H:%M")
      date_title = "No edits made"
    else
      date_value = post.created_at.strftime("%Y/%m/%d at %H:%M") + '*'
      date_title = "Last edited: #{post.updated_at.strftime("%Y/%m/%d %H:%M")}"
    end
  %>

  <%# Show the post. %>
  <h2 class="postTitle"><%= post.title %></h1>
  <div class="postUserAndDate">
    By <span class="userName"><%= user.name %></span>
    on <span class="postDate" title="<%= date_title %>"><%= date_value %></span>
  </div>
  <div class="postBody"><%= @markdown.render(post.body).html_safe %></div>

  <%# Show the action options. %>
  <div>
    <%= link_to 'Show', post %> |
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <hr>
<% end %>

<%= paginate @posts %>
