<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><%= @post.title %></h1>
<div>
  by <%= @post.user_id %>
</div>

<% # Display any edits as hover-over title text.
  if @post.created_at === @post.updated_at
    edit_title = "No edits made"
  else
    edit_title = "Last edited: #{@post.updated_at.strftime("%Y/%m/%d %H:%M")}"
  end
%>
<div title="<%= edit_title %>">
  <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
</div>

<p>
  <%= @markdown.render(@post.body).html_safe %>
</p>
<nav id="postFooterNav">
  <%= link_to 'Back to posts', posts_path %>
  <%= link_to 'Edit this post', edit_post_path(@post) %>
</nav>

<div class="comments">
  <h2>Comments</h2>

  <% @post.comments.each do |comment| %>
    <%# If the comment errored, there will be no 'created_at' %>
    <%# This smells pretty bad, but it seems to work. %>
    <% if comment.created_at %>
      <p>
        <div>
          <strong><%= comment.name %></strong>
        </div>
        <div>
          <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
        <div>
          <%= comment.body %>
        </div>
      </p>
    <% end %>
  <% end %>

  <% if @post.comments.empty? %>
    <p>
      <div>
        There are no comments for this post.
      </div>
    </p>
  <% end %>
</div>

<hr>

<%# If we are editing an errored comment, remember the previous value. %>
<%# This will be used as the default value for the form fields. %>
<% if @comment %>
  <% name_value = @comment.name %>
  <% body_value = @comment.body %>
<% end %>

<h2>Add comment</h2>

<%= form_for([@post, @post.comments.build]) do |f| %>

  <% if @comment && @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# Default values are okay to be nil. %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, value: name_value %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, value: body_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
